<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ami-static.b0.upaiyun.com/active2016/base/flexible.js"></script>
<!--    <script src="//cdn.bootcss.com/eruda/1.5.2/eruda.min.js"></script>-->
<!--    <script>eruda.init();</script>-->
    <title>app</title>
</head>
<body>
<!--<script>-->
    <!--window.onerror = function (msg, url, line) {-->
        <!--var txt = "";-->
        <!--txt = "错误信息：" + msg + "<br>";-->
        <!--txt += "出错文件：" + url + "<br>";-->
        <!--txt += "出错行号：" + line;-->

        <!--document.write(txt);-->
        <!--return true;-->
    <!--}-->
<!--</script>-->
<script>
    window.GOKU = {
        actiCode: '8820180720001150',
        rules: [
            "①积分奖励：邀请人排名截止时间为2019年02月22日23：59分，积分在活动结束后7个工作日内发放至排名前三账户；若出现并列情况，则依次比较被邀请人在此活动中投资总金额和邀请人当前在投金额",
            "①积分奖励：邀请人排名截止时间为2019年02月22日23：59分，积分在活动结束后7个工作日内发放至排名前三账户；若出现并列情况，则依次比较被邀请人在此活动中投资总金额和邀请人当前在投金额",
            "①积分奖励：邀请人排名截止时间为2019年02月22日23：59分，积分在活动结束后7个工作日内发放至排名前三账户；若出现并列情况，则依次比较被邀请人在此活动中投资总金额和邀请人当前在投金额",
            "①积分奖励：邀请人排名截止时间为2019年02月22日23：59分，积分在活动结束后7个工作日内发放至排名前三账户；若出现并列情况，则依次比较被邀请人在此活动中投资总金额和邀请人当前在投金额",
            "①积分奖励：邀请人排名截止时间为2019年02月22日23：59分，积分在活动结束后7个工作日内发放至排名前三账户；若出现并列情况，则依次比较被邀请人在此活动中投资总金额和邀请人当前在投金额",
        ],
        userId: '1234567',
        startTime: "2018-11-02 14:53:48",
        endTime: "2018-11-30 14:53:50",
        startTimeChinese: "2018年11月02日",
        endTimeChinese: "2018年11月30日",
        prizes: [{
            totalAmount: 888888
        },
            {
                totalAmount: 88888
            },
            {
                totalAmount: 888
            },
            {
                totalAmount: 888
            }
        ]
    }
</script>
<div id="app"></div>
</body>
</html>